<header class="header-container">
    <nav class="nav-container">
        <img class="logo" src="https://i.ibb.co/DwWTLkY/logo.png" alt="logo">
        <button class="nav-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
            <li class="nav-item"><a href="/posts" class="nav-link">Posts</a></li>
            <li class="nav-item"><a href="/posts/create" class="nav-link">New Post</a></li>
        </ul>
    </nav>
</header>


