<header>
    <nav class="nav-container">
        <i class="fa-solid fa-hippo" class="nav-link"></i>
        <a href="/users" class="nav-link">Users</a>
        <a href="/posts" class="nav-link">Posts</a>
        <a href="/posts/create" class="nav-link">New Post</a>
    </nav>
</header>