/* Add your styles here. */

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kalnia-glaze-header {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.josefin-sans-body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Kalnia Glaze", serif;
    font-size: 300%;
}

html, body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #e6f6e1;
    height: 100%;
    width: 100vw;
    margin: 0;
}

.logo {
    display: block;
    padding: 10px;
    max-width: 35%;
    height: auto;
    margin: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* post list */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border: 5px solid #87FF00;
    background-color: #feecf8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

@media (max-width: 500px) {
    .post-container {
        width: 100%;
    }
}

@media (min-width: 501px) {
    .post-container {
        width: 60%;
    }
}

.post-image {
    display: block;
    max-width: 100%; 
    height: auto; 
    margin: 10px auto;
    border-radius: 5%;
}

@media (min-width: 600px) {
    img {
        width: 60%;
    }
}

.posted-by {
    border-radius: 0%;
    border-width: 10;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.message {
    text-align: center;
    margin: 10px 0;
    font-size: large;
}

.likes-and-dislikes {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap;
} 

.likes-dislikes {
    display: inline-block;
    margin: 5px;
}

form {
    display: inline-block;
}

button {
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.like-button {
    background-color: #BEFFAE;
}

.dislike-button {
    background-color: #FFA1A1;
}

a {
    display: inline-block;
    margin: 20px 10px;
}

.date {
    text-align: right;
    font-size: x-small;
    margin: 10px;
    width: 80%;
}

.page-turn-container {
    display: flex;
    align-items: center; 
    gap: 10px;
    flex-wrap: wrap;
}

.page-button{
    display: inline-block;
    padding: 8px 16px;
    background-color: #FFBAFF; 
    color: #000000;
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
}

/* header */

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav-menu {
    background-color: #151820;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 30%;
    z-index: 3;
    display: none;
}

/* .show-menu {
    background-color: #151820;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    position: fixed;
    left: 30%;
    z-index: 3;
} */

/*
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    display: inline-block; 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle:checked {
    display: block;
}

.fa-solid {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        margin: 0;
        border-top: 1px solid #444;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-menu.show {
        display: flex;
    }
} */


/* user detail */

.profile-image {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 50%;
    border: 5px solid #dcdcdc;
}

@media (min-width: 500px) {
    .profile-image {
        width: 60%;
    }
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 10px auto;
    position: absolute;
    top: 100%;
    transform: translate(0, -55%);
    z-index: 2;
}

@media (max-width: 500px) {
    .user-info-container {
        width: 80%;
    }
}

@media (min-width: 501px) {
    .user-info-container {
        width: 60%;
    }
}

.user-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: auto;
    width: 100vw;
    position: relative;
}

.profile-image-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 40%;
}

.cover-image-container {
    display: flex;
    align-items: center;
    height: 25vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    top: 66%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #252a388f; 
    pointer-events: none;
    z-index: 1;
}

.user-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

.user-text {
    font-family: "Segoe UI", sans-serif;
    padding: 5px;
    margin: 5px;
}

h1.user-text {
    font-size: large;
    margin-bottom: 5px;
}